<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.crm.dao.ModuleDao">
  <resultMap id="BaseResultMap" type="com.shsxt.crm.po.Module">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="module_style" jdbcType="VARCHAR" property="moduleStyle" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="parent_opt_value" jdbcType="VARCHAR" property="parentOptValue" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="opt_value" jdbcType="VARCHAR" property="optValue" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, module_name, module_style, url, parent_id, parent_opt_value, grade, opt_value, 
    orders, is_valid, create_date, update_date
  </sql>
  <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_module
    where id = #{id,jdbcType=INTEGER} and is_valid=1
  </select>

  <insert id="save" parameterType="com.shsxt.crm.po.Module">
    insert into t_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="moduleStyle != null">
        module_style,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="parentOptValue != null">
        parent_opt_value,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="optValue != null">
        opt_value,
      </if>
      <if test="orders != null">
        orders,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleStyle != null">
        #{moduleStyle,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentOptValue != null">
        #{parentOptValue,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="optValue != null">
        #{optValue,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.shsxt.crm.po.Module">
    update t_module
    <set>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleStyle != null">
        module_style = #{moduleStyle,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="parentOptValue != null">
        parent_opt_value = #{parentOptValue,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="optValue != null">
        opt_value = #{optValue,jdbcType=VARCHAR},
      </if>
      <if test="orders != null">
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryAllModules" resultType="moduleDto">
    SELECT  id,parent_id as pId,module_name as name
    from t_module
    WHERE  is_valid=1
  </select>


  <select id="queryByParams" parameterType="moduleQuery" resultMap="BaseResultMap">
       select <include refid="Base_Column_List"/>
       from t_module
       <where>
         is_valid=1
         <if test="moduleName !=null and moduleName!=''">
          and   module_name like concat('%',#{moduleName},'%')
         </if>
         <if test="null !=pid">
          and parent_id=#{pid}
         </if>
         <if test="grade !=null">
          and grade=#{grade}
         </if>
         <if test="optValue !=null and optValue!=''">
          and  opt_value=#{optValue}
         </if>
       </where>

  </select>

  <select id="queryModuleByModuleName" resultMap="BaseResultMap">
     SELECT  <include refid="Base_Column_List"/>
     from t_module
  where module_name=#{moduleName} and is_valid=1
</select>

  
  <select id="queryModuleByOptValue" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List"/>
    from t_module
    where opt_value=#{optValue} and is_valid=1
  </select>


  <select id="queryAllParentMenusByGrade" resultType="map">
     select id,module_name as moduleName
     from t_module
     where is_valid=1 and grade=#{grade}
  </select>

  <!--<update id="deleteModuleByMid" >
    update  t_module
    set is_valid=0
    where id=#{mid}
  </update>
-->

  <select id="querySubModulesByParentId" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
      from t_module
      where is_valid=1 and parent_id=#{pid}
  </select>



   <update id="deleteBatch" >
     update  t_module
    set is_valid=0
    where id IN
    <foreach collection="array" item="item" open="(" separator="," close=")">
       #{item}
    </foreach>
   </update>

</mapper>