<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.RoleDao" >
  <resultMap id="BaseResultMap" type="com.shsxt.crm.po.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_remark" property="roleRemark" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_name, role_remark, create_date, update_date, is_valid
  </sql>
  <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id,jdbcType=INTEGER} and is_valid=1
  </select>

  <insert id="save" parameterType="com.shsxt.crm.po.Role" >
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="roleRemark != null" >
        role_remark,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleRemark != null" >
        #{roleRemark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.shsxt.crm.po.Role" >
    update t_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleRemark != null" >
        role_remark = #{roleRemark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryAllRoles" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_role
    where is_valid=1
  </select>


  <select id="queryByParams" parameterType="roleQuery" resultMap="BaseResultMap">
     select <include refid="Base_Column_List"/>
     from t_role
    <where>
      is_valid=1
      <if test="roleName !=null and roleName !=''">
       and role_name like concat('%',#{roleName},'%')
      </if>
      <if test="time !=null and time !=''">
        and create_date &lt;=#{time}
      </if>
    </where>
  </select>

  <update id="deleteBatch">
    update t_role
    set is_valid=0
    where id in
    <foreach collection="array" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
  
  
  <select id="queryAllPermissionsByRoleIds" resultType="string">
     SELECT DISTINCT
        acl_value
    FROM
        t_permission
    WHERE
        role_id IN
     <foreach collection="list" item="item" open="(" separator="," close=")">
       #{item}
     </foreach>
  </select>

</mapper>