<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.crm.dao.SaleChanceDao">
    <!--
      `id` int(11) NOT NULL AUTO_INCREMENT,
  `chance_source` varchar(300) DEFAULT NULL COMMENT '机会来源',
  `customer_name` varchar(100) DEFAULT NULL,
  `cgjl` int(11) DEFAULT NULL,
  `overview` varchar(300) DEFAULT NULL,
  `link_man` varchar(100) DEFAULT NULL,
  `link_phone` varchar(100) DEFAULT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `create_man` varchar(100) DEFAULT NULL,
  `assign_man` varchar(100) DEFAULT NULL,
  `assign_time` datetime DEFAULT NULL,
  `state` int(11) DEFAULT NULL,
  `dev_result` int(11) DEFAULT NULL,
  `is_valid` int(4) DEFAULT '1',
  `create_date` datetime DEFAULT NULL,
  `update_date` datetime DEFAULT NULL,
    -->
    <sql id="sale_chance_columns">
        sc.id,chance_source as chanceSource,customer_name as customerName,
        cgjl,overview,link_man as linkMan,link_phone as linkPhone,
        description,create_man as createMan,assign_man as assignMan,
        assign_time as assignTime,state ,dev_result as devResult,
        sc.create_date as createDate,sc.update_date as updateDate
    </sql>
    <select id="queryByParams" parameterType="saleChanceQuery"  resultType="saleChance">
        select <include refid="sale_chance_columns"/>,u.true_name as trueName
        from t_sale_chance sc LEFT  JOIN  t_user u on sc.assign_man=u.id
        <where>
            sc.is_valid=1   <!--  1:有效 0:无效 -->
            <if test="null !=customerName and customerName !='' ">
              and customer_name like  concat('%',#{customerName},'%')
            </if>
            <if test="null !=state ">
               and state=#{state}
            </if>
            <if test="null !=devResult">
               and dev_result=#{devResult}
            </if>
            <if test="null!=time and time !=''" >
                and create_date &lt;=#{time}
            </if>
        </where>
    </select>



    <insert id="save" parameterType="saleChance">
          insert into t_sale_chance(chance_source, customer_name, cgjl, overview, link_man, link_phone, description, create_man, assign_man, assign_time, state, dev_result, create_date, update_date)
          VALUES(#{chanceSource},#{customerName},#{cgjl},#{overview},#{linkMan},#{linkPhone},#{description},
          #{createMan},#{assignMan},#{assignTime},#{state},#{devResult},#{createDate},#{updateDate})
    </insert>
    
    <update id="update" parameterType="saleChance">
        update t_sale_chance
       <set>
        <if test="null !=chanceSource">
            chance_source=#{chanceSource},
        </if>
        <if test="null !=customerName">
          customer_name=#{customerName},
        </if>
        <if test="null!= cgjl">
            cgjl=#{cgjl},
        </if>
        <if test="null !=overview">
            overview=#{overview},
        </if>
        <if test="null !=linkMan">
            link_man=#{linkMan},
        </if>
        <if test="null !=linkPhone">
            link_phone=#{linkPhone},
        </if>
        <if test="null !=description">
            description=#{description},
        </if>
        <if test="null !=createMan">
            create_man=#{createMan},
        </if>
        <if test="null !=assignMan">
            assign_man=#{assignMan},
        </if>
        <if test="null !=assignTime">
            assign_time=#{assignTime},
        </if>
        <if test="null !=state">
            state=#{state},
        </if>
        <if test="null !=devResult">
            dev_result=#{devResult},
        </if>
        <if test="null !=updateDate">
            update_date=#{updateDate}
        </if>
       </set>
     <where>
         id=#{id} and is_valid=1
     </where>
    </update>

    <select id="queryById" parameterType="int" resultType="saleChance">
       select <include refid="sale_chance_columns"/>,u.true_name as trueName
        from t_sale_chance sc LEFT  JOIN  t_user u on sc.assign_man=u.id
        where sc.is_valid=1 and sc.id=#{id}
    </select>
    
    
    <update id="deleteBatch">
          update t_sale_chance
          set is_valid=0
          where id in
          <foreach collection="array" item="item" open="(" separator="," close=")">
             #{item}
          </foreach>
    </update>


    <update id="updateSaleChanceDevResultBySid">
        update t_sale_chance
        set dev_result=#{devResult}
        where id=#{sid} and is_valid=1
    </update>

</mapper>